<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <!-- To enable JMX Management-->
    <jmxConfigurator/>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}/log/topjava.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <charset>UTF-8</charset>
            <pattern>%d{dd-MM-yyyy HH:mm:ss} %-5level %logger{50}.%M:%L - %msg%n</pattern>
        </encoder>
        <!--rollover daily and when the file reaches 10 MegaBytes-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}./log/topjava.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <charset>UTF-8</charset>
            <pattern>%black(%d{dd-MM-yyyy HH:mm:ss}) %highlight(%-5level) [%blue(%t)] (%green(%class{40}.%M:%L) - %msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="ru.javawebinar.topjava" level="debug"/>
    <logger name="org.hibernate" level="warn"/>
    <!--<logger name="org.springframework.boot" level="debug"/>-->

    <root level="info">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>

</configuration>